<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add receiver</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/all.css}">
</head>

<body>
<div class="container my-5">
    <div class="row">
        <div class="col-md-3">
            <h4> Add / Edit receiver</h4>
        </div>
        <div class="col-md-1">
            <a th:href="@{/}" class="btn btn-primary">
                <i class="fas ml-2"> Home </i></a>
        </div>
        <div class="col-md-1">
            <a th:href="@{/receivers}" class="btn btn-primary">
                <i class="fas ml-2"> Back </i></a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/receivers/save}" th:object="${receiver}" method="post">
                    <div class="form-group">
                        <label for="mail" class="col-form-label">Mail</label>
                        <input type="text" th:field="*{mail}" class="form-control"
                               id="mail" placeholder="Mail"/>
                        <label class="alert alert-danger" th:if="${#fields.hasErrors('mail')}"
                               th:errors="*{mail}"></label>
                    </div>

                    <div class="form-group">
                        <label for="subscribedSourcePages" class="col-form-label">subscribed source pages</label>
                        <select id="subscribedSourcePages" class="form-control" th:field="*{subscribedSourcePages}"
                                multiple="multiple">
                            <option th:each="sp : ${sourcePages}" th:value="${sp.id}" th:text="${sp.description + ' - ' + sp.url}"></option>
                        </select>
                    </div>

                    <div class="form-group" th:if="${receiver.id != null && sentJobs != null}">
                        <label for="sentJobs" class="col-form-label">sent jobs</label>
                        <select id="sentJobs" class="form-control" multiple="multiple" >
                            <option disabled="disabled" th:each="sj : ${sentJobs}" th:value="${sj.id}" th:text="${sj.url}" ></option>
                        </select>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" th:field="*{active}" class="form-check-input" id="active" checked="checked"/>
                        <label for="active" class="form-check-label">active</label>
                    </div>

                    <input type="submit" class="btn btn-primary" value=" Submit ">

                    <input type="hidden" id="id" th:field="*{id}">

                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>