<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/all.css}">
</head>
<body>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <h2 class="alert alert-danger" th:if="${error != null}" th:text="${error}"></h2>
        </div>
    </div>
</div>
</body>
</html>