<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/all.css}">
</head>

<body>
<div class="container my-5">
    <h3> Menu </h3>
    <div class="card">
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-3">
                    <a th:href="@{/receivers/}" class="btn btn-primary">
                        <i class="fas fa-user-plus ml-2"> Receivers </i></a>
                </div>
                <div class="col-md-3">
                    <a th:href="@{/sourcePages/}" class="btn btn-primary">
                        <i class="fas fa-paper-plane ml-2"> Source pages </i></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>