<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>All receivers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/all.css}">
</head>

<body>
<div class="container my-2">
    <div class="row">
        <div class="col-md-3">
            <a th:href="@{/}" class="btn btn-primary">
                <i class="fas ml-2"> Home </i></a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div th:switch="${receivers}" class="container my-5">
                <div class="row">
                    <div class="col-md-2">
                        <a th:href="@{/receivers/new}" class="btn btn-primary">
                            <i class="fas fa-user-plus ml-2"> Add receiver </i></a>
                    </div>
                    <div class="col-md-2">
                        <a th:href="@{/}" class="btn btn-primary">
                            <i class="fas ml-2"> Home </i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                    <h2 th:case="null">No record found !!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Mail</th>
                                <th>Active</th>
                                <th>Subscribed source page ids</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="receiver : ${receivers}">
                                <td class="text-truncate" style="max-width: 10em" th:text="${receiver.mail}"></td>
                                <td class="text-truncate" style="max-width: 10em" th:text="${receiver.active}"></td>
                                <td class="text-truncate" style="max-width: 10em" th:text="${receiver.getSubscribedSourcePagesAsString()}"></td>
                                <td>
                                    <a th:href="@{/receivers/edit/{id}(id=${receiver.id})}" class="btn btn-primary">
                                        <i class="fas fa-user-edit ml-2"></i>
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{/receivers/delete/{id}(id=${receiver.id})}" class="btn btn-primary">
                                        <i class="fas fa-user-times ml-2"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>