<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>All source pages</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/all.css}">

    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
<div class="container my-2">
    <div class="row">
        <div class="col-md-3">

        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div th:switch="${sourcePages}" class="container my-5">
                <div class="row">
                    <div class="col-md-2">
                        <a th:href="@{/sourcePages/new}" class="btn btn-primary">
                            <i class="fas fa-plus ml-2"> Add source page </i></a>
                    </div>
                    <div class="col-md-2">
                        <a th:href="@{/}" class="btn btn-primary">
                            <i class="fas ml-2"> Home </i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                    <h2 th:case="null">No record found !!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Description</th>
                                <th>Url
                                <th>Active</th>
                                <th>Additional selector</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="sourcePage : ${sourcePages}">
                                <td class="text-truncate" style="max-width: 10em" th:text="${sourcePage.description}"></td>
                                <td class="text-truncate" style="max-width: 10em" th:text="${sourcePage.url}"></td>
                                <td class="text-truncate" style="max-width: 10em" th:text="${sourcePage.active}"></td>
                                <td class="text-truncate" style="max-width: 10em" th:text="${sourcePage.additionalSelector}"></td>
                                <td>
                                    <a th:href="@{/sourcePages/edit/{id}(id=${sourcePage.id})}" class="btn btn-primary">
                                        <i class="fas fa-edit ml-2"></i>
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{'#delete_modal_' + ${sourcePage.id}}" class="btn btn-danger" data-toggle="modal" role="button">
                                        <i class="fas fa-user-times ml-2"></i>
                                    </a>
                                </td>

                                <div th:id="'delete_modal_' + ${sourcePage.id}" class="modal">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Confirm Delete</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            </div>

                                            <div class="modal-body">
                                                <p>Are you sure you want to delete? </p>
                                            </div>
                                            <div class="modal-footer">

                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <a th:href="@{/sourcePages/delete/{id}(id=${sourcePage.id})}" class="btn btn-danger" title="Delete"><i class="fa fa-trash-o"></i>Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>